{% extends 'base.html' %}
{% block body %}

<!-- user_name=user,
name=request.form.get("fname"),
address=request.form.get("faddress"),
city=request.form.get("fcity"),
state=request.form.get("fstate"),
pincode=request.form.get("fpincode"),
gender=request.form.get("fgender"),
date=request.form.get("fdate"),
blood_group=request.form.get("fblood"),
aadhar=request.form.get("faadhar"),
job=request.form.get("fjob") -->

<!-- Main -->
    <div class="main">
        <h2>YOUR PROFILE</h2>
        <div class="card">
            <div class="card-body">
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>Nikhil Kumar Das</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>nikhilkd@gmail.com</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td>50 Rishi East City</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>:</td>
                            <td>Bhopal</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>:</td>
                            <td>MP</td>
                        </tr>
                        <tr>
                            <td>Pincode</td>
                            <td>:</td>
                            <td>12345</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>Male</td>
                        </tr>
                        <tr>
                            <td>DOB</td>
                            <td>:</td>
                            <td>03/03/2002</td>
                        </tr>
                        <tr>
                            <td>Job</td>
                            <td>:</td>
                            <td>Software Engineer</td>
                        </tr>
                        <tr>
                            <td>Blood Group</td>
                            <td>:</td>
                            <td>B+</td>
                        </tr>
                        <tr>
                            <td>Aadhar Card</td>
                            <td>:</td>
                            <td>123456789</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}