{% extends 'base.html' %}
{% block body %}
    <div class="main">
        <h2>YOUR PROFILE</h2>
        <div class="card">
            <div class="card-body">
                <table>
                    <tbody>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td>{{user.name}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td>{{user.user_name}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td>{{user.address}}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>:</td>
                            <td>{{user.city}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>:</td>
                            <td>{{user.state}}</td>
                        </tr>
                        <tr>
                            <td>Pincode</td>
                            <td>:</td>
                            <td>{{user.pincode}}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>{{user.gender}}</td>
                        </tr>
                        <tr>
                            <td>DOB</td>
                            <td>:</td>
                            <td>{{user.date}}</td>
                        </tr>
                        <tr>
                            <td>Job</td>
                            <td>:</td>
                            <td>{{user.job}}</td>
                        </tr>
                        <tr>
                            <td>Blood Group</td>
                            <td>:</td>
                            <td>{{user.blood_group}}</td>
                        </tr>
                        <tr>
                            <td>Aadhar Card</td>
                            <td>:</td>
                            <td>{{user.aadhar}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}