{% extends 'base.html' %}
{% block body %}
    <div class="container" >
        <h2>Depression Detection</h2>
        <form action="/mental_predict" enctype="multipart/form-data" method="POST">
            <div class="question">
                <label for="exampleFormControlTextarea1" class="form-label">Question 1</label>
                <textarea class="form-control" name="question1" id="exampleFormControlTextarea1"  rows="3"></textarea>
            </div>
            <div class="question">
                <label for="exampleFormControlTextarea1" class="form-label">Question 2</label>
                <textarea class="form-control" name="question2" id="exampleFormControlTextarea1"  rows="3"></textarea>
            </div>
            <div class="question">
                <label for="exampleFormControlTextarea1" class="form-label">Question 3</label>
                <textarea class="form-control" name="question3" id="exampleFormControlTextarea1"  rows="3"></textarea>
            </div>
            <button type="submit" value="Upload File" class="btn btn-outline-success" style="margin-top:3%">Upload</button>
        </form>
    </div>
{% endblock body %}
