{% extends 'base.html' %}
{% block body %}
    <div class="container1" >
        <h2>Depression Detection</h2>
        <form action="/mental_predict" method="POST">
            <div class="question">
                <label for="exampleFormControlTextarea1" class="form-label">How are you feeling today?</label>
                <textarea class="form-control" name="question1" id="exampleFormControlTextarea1"  rows="3"></textarea>
            </div>
            <div class="question">
                <label for="exampleFormControlTextarea1" class="form-label">Do you often have thoughts of dying?</label>
                <textarea class="form-control" name="question2" id="exampleFormControlTextarea1"  rows="3"></textarea>
            </div>
            <div class="question">
                <label for="exampleFormControlTextarea1" class="form-label">What are your constant moods these days?</label>
                <textarea class="form-control" name="question3" id="exampleFormControlTextarea1"  rows="3"></textarea>
            </div>
            <button type="submit" value="Upload File" class="btn btn-outline-success" style="margin-top:3%">Upload</button>
        </form>
    </div>
{% endblock body %}
