{% extends 'base.html' %}
{% block body %}
    <style>
        .container1 {
            position: relative;
            left: 20%;
            padding-top:3%;
        }
    </style>
    <div class="container1">
        <h2>
            Add your files here 
        </h2>
        <form action="/add_report" enctype="multipart/form-data" method="POST">
            <div class="form-group" >
                <input type="file" style="margin:20px 0px 20px 90px ;" name="file" />
                <button type="submit" value="Upload File" class="btn btn-outline-success">Upload</button>
            </div>
        </form>
    </div>
{% endblock body %}
