{% extends 'base.html' %}
{% block body %}
    <div class="container1" >
        <h2>Insurance Prediction</h2>
        <form action="/insurance_predict" method="POST">
            <div class="form-group" >
                <input type="text" placeholder="Age" name="age">
                <div class="input-group">
                    <label class="form-label">Gender</label>
                    <input type="radio" name="gender" value="0"/>
                    <label >Male</label>
                    <input type="radio" name="gender" value="1"/>
                    <label >Female</label>
                </div>
                <input type="text" placeholder="BMI" name="bmi">
                <input type="text" placeholder="children" name="child">
                <div class="input-group">
                    <label class="form-label">Are you a smoker?</label>
                    <input type="radio" name="smoke" value="0"/>
                    <label >Yes</label>
                    <input  type="radio" name="smoke" value="1"/>
                    <label >No</label>
                </div>
                <div class="input-group">
                    <label class="form-label">Enter your Region</label>
                    <input type="radio" name="region" value="0"/>
                    <label >southeast</label>
                    <input type="radio" name="region" value="1"/>
                    <label >southwest</label>
                    <input  type="radio" name="region" value="2"/>
                    <label >northeast</label>
                    <input  type="radio" name="region" value="3"/>
                    <label >northwest</label>
                </div>
            </div>
                <button type="submit" class="btn btn-outline-success">Predict</button>
        </form>
    </div>
{% endblock body %}