<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meditrack</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://kit.fontawesome.com/4cf2323665.css" crossorigin="anonymous">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script src="https://kit.fontawesome.com/4cf2323665.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <div class="logo_name">
          <img
            width="30px"
            src="{{ url_for('static', filename='css/home/Meditrack logo.png') }}"
            alt=""
          />
          Meditrack
        </div>
        <i class="bx bx-menu" id="btn"></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="/dashboard">
            <i class="bx bx-grid-alt"></i>
            <span class="links_name">Dashboard</span>
          </a>
          <span class="tooltip">Dashboard</span>
        </li>
        <li>
          <a href="/profile">
            <i class="bx bx-user"></i>
            <span class="links_name">Profile</span>
          </a>
          <span class="tooltip">Profile</span>
        </li>
        <li>
          <a href="/prediction">
            <i class="bx bx-body"></i>
            <span class="links_name">Health Prediction</span>
          </a>
          <span class="tooltip">Health Prediction</span>
        </li>
        <li>
          <a href="/add_report">
            <i class="bx bx-plus-medical"></i>
            <span class="links_name">Add report</span>
          </a>
          <span class="tooltip">Add report</span>
        </li>
        <li>
          <a href="/doctors">
            <i class="fa-solid fa-user-doctor"></i>
            <span class="links_name">Doctors</span>
          </a>
          <span class="tooltip">Doctors</span>
        </li>
        <li>
          <a href="/mental_health">
            <i class="bx bx-brain"></i>
            <span class="links_name">Mental Health</span>
          </a>
          <span class="tooltip">Mental Health</span>
        </li>
        <li>
          <a href="/insurance">
            <i class="fa-solid fa-money-check"></i>
            <span class="links_name">Insurance</span>
          </a>
          <span class="tooltip">Insurance</span>
        </li>
        <li>
          <a href="/summary">
            <i class="fa-solid fa-file-medical"></i>
            <span class="links_name">Health Summary</span>
          </a>
          <span class="tooltip">Health Summary</span>
        </li>
        <li class="profile">
          <div class="profile-details">
            <div class="name_job">
              <div class="name">{{ user.name }}</div>
              <div class="job">{{user.user_name}}</div>
            </div>
          </div>
          <i class="bx bx-log-out" id="log_out"></i>
        </li>
      </ul>
    </div>
    <section class="home-section">{% block body %} {% endblock body %}</section>

    <!-- <script src="app.js"></script> -->
    <script>
      let sidebar = document.querySelector(".sidebar");
      let closeBtn = document.querySelector("#btn");
      let searchBtn = document.querySelector(".bx-search");

      closeBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();
      });

      searchBtn.addEventListener("click", () => {
        sidebar.classList.toggle("open");
        menuBtnChange();
      });

      function menuBtnChange() {
        if (sidebar.classList.contains("open")) {
          closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        } else {
          closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
      }
    </script>
  </body>
</html>