<style>
    h2{
        text-align: center;
    }
    .container{
        width: 90%;
        text-align: justify;
        position: relative;
        left: 5%;
        font-family: 'Poppins', sans-serif;
    }
    span{
        font-weight: bold;
    }

</style>
<div class="container">
    <h2>Medtrack Report</h2>
    <div class="profile">
        Name : {{profile.name}}
        <br>
        Email ID : {{profile.user_name}}
        <br>
        Date of Birth : {{profile.date}}
        <br>
        Adhaar : {{profile.aadhar}}
        <br>
    </div>
    <br>
    <h3>Bone Fractrure</h3>
    <p>
        A fracture has been detected, and further medical intervention may be required. Depending on the severity and location of the fracture, treatment options may include immobilization, surgery, or other interventions to promote healing and prevent complications. Pain management and physical therapy may also be necessary. It is important to follow medical advice and instructions carefully to ensure optimal recovery and prevent long-term effects. But there is no need to worry as fracture can be treated and healed in most cases with proper medical treatment overtime.        <br>
        Result: <span>{{predict.bone_fracture}}</span>
        <br>
        Date of Prediction: <span>{{date.bone_fracture}}</span>
    </p>
    <br>
    <h3>Diabetes</h3>
    <p>
        Diabetes has been detected, and further medical intervention is necessary. Treatment options may include lifestyle changes such as diet and exercise, medication, and regular monitoring of blood sugar levels. It is important to work closely with a healthcare provider to manage the condition and prevent complications. Education and self-management strategies are also important for maintaining optimal health and quality of life.        <br>
        Result: <span>{{predict.diabetes}}</span>
        <br>
        Date of Prediction: <span>{{date.diabetes}}</span>
    </p>
    <br>
    <h3>Heart Report</h3>
    <p>
        If a heart condition has been detected, further evaluation and treatment may be necessary. Your healthcare provider may recommend additional tests, medications, or lifestyle changes to help manage your condition. It is important to follow their guidance and take any prescribed medications as directed. Remember, many heart conditions can be successfully treated with proper care and management. You are not alone, and your healthcare team is there to support you throughout your journey.        <br>
        Result: <span>{{predict.heart_prediction}}</span>
        <br>
        Date of Prediction: <span>{{date.heart_prediction}}</span>
    </p>
    <br>
    <h3>Lung Report</h3>
    <p>
        If a lung condition has been detected, it is important to seek further medical attention and follow the recommended course of treatment. This may include change in habits, medication, or more specialized care. It is important to remain proactive in managing the condition, staying informed, and communicating openly with your healthcare provider. Rest assured that with proper care and attention, many lung conditions can be effectively managed and even overcome.
        <br>
        Result: <span>{{predict.lung_disease}}</span>
        <br>
        Date of Prediction: <span>{{date.lung_disease}}</span>
    </p>
    <br>
    <h3>Depression</h3>
    <p>
        We have detected that you are suffering through depression. If depression has been detected, it is important to seek professional help from a healthcare provider. Treatment options may include therapy, medication, or a combination of both. It is important to remember that depression is a common and treatable condition. With the right support and treatment, it is possible to feel better and improve quality of life. Remember, seeking help is a sign of strength and there is hope for a brighter future.        <br>
        Result: <span>{{predict.depression}}</span>
        <br>
        Date of Prediction: <span>{{date.depression}}</span>
    </p>
</div>

