<style>
    h2{
        text-align: center;
    }
    .container{
        width: 90%;
        text-align: justify;
        position: relative;
        left: 5%;
        font-family: 'Poppins', sans-serif;
    }
    span{
        font-weight: bold;
    }

</style>
<div class="container">
    <h2>Medtrack Report</h2>
    <div class="profile">
        Name : {{profile.name}}
        <br>
        Email ID : {{profile.user_name}}
        <br>
        Date of Birth : {{profile.date}}
        <br>
        Adhaar : {{profile.aadhar}}
        <br>
    </div>
    <br>
    <h3>Bone Fractrure</h3>
    <p>
        A fracture has been detected, and further medical intervention may be required. Depending on the severity and location of the fracture, treatment options may include immobilization, surgery, or other interventions to promote healing and prevent complications. Pain management and physical therapy may also be necessary. It is important to follow medical advice and instructions carefully to ensure optimal recovery and prevent long-term effects. But there is no need to worry as fracture can be treated and healed in most cases with proper medical treatment overtime.        <br>
        Result: <span>{{predict.bone_fracture}}</span>
        <br>
        Date of Prediction: <span>{{date.bone_fracture}}</span>
    </p>
    <br>
    <h3>Diabetes</h3>
    <p>
        Diabetes has been detected, and further medical intervention is necessary. Treatment options may include lifestyle changes such as diet and exercise, medication, and regular monitoring of blood sugar levels. It is important to work closely with a healthcare provider to manage the condition and prevent complications. Education and self-management strategies are also important for maintaining optimal health and quality of life.        <br>
        Result: <span>{{predict.diabetes}}</span>
        <br>
        Date of Prediction: <span>{{date.diabetes}}</span>
    </p>
    <br>
    <h3>Heart Report</h3>
    <p>
        If a heart condition has been detected, further evaluation and treatment may be necessary. Your healthcare provider may recommend additional tests, medications, or lifestyle changes to help manage your condition. It is important to follow their guidance and take any prescribed medications as directed. Remember, many heart conditions can be successfully treated with proper care and management. You are not alone, and your healthcare team is there to support you throughout your journey.        <br>
        Result: <span>{{predict.heart_prediction}}</span>
        <br>
        Date of Prediction: <span>{{date.heart_prediction}}</span>
    </p>
    <br>
    <h3>Lung Report</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ut voluptas quisquam accusamus numquam asperiores commodi cumque minus quod natus, earum tempora cupiditate consequatur inventore ipsam. Facere sapiente, magni vero ab possimus esse nulla tempore nisi fuga rem, iusto laborum in sunt! Dolor recusandae rerum nemo reprehenderit exercitationem sunt eos.
        <br>
        Result: <span>{{predict.lung_disease}}</span>
        <br>
        Date of Prediction: <span>{{date.lung_disease}}</span>
    </p>
    <br>
    <h3>Depression</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ut voluptas quisquam accusamus numquam asperiores commodi cumque minus quod natus, earum tempora cupiditate consequatur inventore ipsam. Facere sapiente, magni vero ab possimus esse nulla tempore nisi fuga rem, iusto laborum in sunt! Dolor recusandae rerum nemo reprehenderit exercitationem sunt eos.
        <br>
        Result: <span>{{predict.depression}}</span>
        <br>
        Date of Prediction: <span>{{date.depression}}</span>
    </p>
</div>

