{% extends 'base.html' %}
{% block body %}

    <table class="table table-dark table-hover" id="images" >
        <thead>
          <tr>
            <th scope="col">S.No</th>
            <th scope="col">File Name</th>
            <th scope="col">UID</th>
            <th scope="col">Download</th>
          </tr>
        </thead>
        <tbody>
            {% for i in img %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{i.name}}</td>
                <td>{{i.uid}}</td>
                <td>
                    <button a href="/download/{{i.uid}}" type="button" class="btn btn-outline-success" style="width: 100px;">Download</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock body %}
